### Predefined Functions on Integer and String Data Types

* Are the predefined function on interger and string are the bulit-in function provide by programming language to simplify task

### Integer (int) — built-ins & methods

##### 1. abs(x) : Returns absolute value of intger

In [1]:
print(abs(2))

2

In [2]:
print(abs(-22))

22

In [5]:
print(abs(0))

0

###### 2.divmod(a, b) : It return quotient, remainder when argument1 is divided by argument 2

In [6]:
print(divmod(10,2))

(5, 0)

In [9]:
print(divmod(25,2))

(12, 1)

In [10]:
print(divmod(-81,9))

(-9, 0)

##### 3.pow(x, y[, mod]) / x ** y : Return the vaue of x to power of y

In [11]:
print(pow(25,2))

625

In [23]:
print(pow(2,2))

32

In [22]:
print(pow(2,5,100)) # 2**5 --->32 then 32%100 --->32

32

##### 4.bin(x), oct(x), hex(x) :

In [14]:
print(bin(2))  # returns binary version of num

0b10

In [15]:
print(oct(10)) # converts num into octal

0o12

In [16]:
print(hex(125)) # convert num into hexadecimal num

0x7d

###### 5. Int() : returns a int num

In [17]:
print(int(-45))

-45

In [18]:
print(int(2.25))

2

In [21]:
print(int(True))

1

###### 6.format():Format a sepecified value

In [25]:
print(format(10,'d'))   # decimal

10

In [28]:
print(format(225,'o'))    #octal

341

In [27]:
print(format(10,'b'))     #binary

1010

In [31]:
print(format(1236004,','))     #,separator

1,236,004

###### 7.isinstance(obj, int) : check value is in int

In [32]:
print(isinstance(12,int))

True

In [33]:
print(isinstance(123.0,int))

False

In [34]:
print(isinstance(False , int))   # boolean value is subclass if integer

True

In [35]:
print(isinstance('hiii',int))

False

##### 8.int` methods: `.bit_length()`, `.to_bytes()`, `.bit_count()`

In [39]:
### int.bit_length():
print((10).bit_length())    #10 → binary '1010' → 4 bits

4

In [40]:
print((255).bit_length())    #255 → binary '11111111' → 8 bits

8

In [41]:
### int.bit_count() : returns the number of ones (1s) in the binary representation of an integer.

print((10).bit_count())        # 10--->1010(binary)------no.of ones (2)

2

In [42]:
print((255).bit_count())           #225---11111111(binary)--------8 ones

8

In [ ]:
###### 9.round(x[, n]) :  it round up the value

In [43]:
print(round(1020.10))

1020

In [44]:
print(round(1010.00))

1010

### String : bulit-ins and method

##### 1.str.upper() and str.lower() : convert into upper and lower case

In [45]:
a="good MoRning"
print(a.lower())
print(a.upper())

good morning
GOOD MORNING

###### 2.str.strip(), lstrip(), rstrip() : Remove leading/trailing whitespace or specified characters.

In [ ]:
remaning

###### 3.str.split(sep=None, maxsplit=-1)  :  Splits the string into a list.

In [51]:
a='a b c d e'
print(a.split())  # split the alphabets

['a', 'b', 'c', 'd', 'e']

In [54]:
print('Apple orange mango banana cherry '.split(maxsplit=2))   # maxsplit:split the string based on maxsplit count

['Apple', 'orange', 'mango banana cherry ']

###### 4.str.join(iterable) : 	Joins elements with the string as a separator.

In [56]:
print(','.join(['a', 'b', 'c']))

a,b,c

In [59]:
print(':'.join('12345'))

1:2:3:4:5

In [61]:
print(' '.join('Good' 'Moring'))

G o o d M o r i n g

##### 5.str.replace(old, new, count=-1) :Replaces occurrences of a substring.

In [63]:
x = "Good morning"
print(x.replace('morning','night'))

Good night

In [64]:
text = "apple banana apple orange apple"
result = text.replace("apple", "mango")
print(result)

mango banana mango orange mango

##### 6.str.find(sub[, start[, end]]) and str.rfind()   :   Returns the index of the first occurrence of sub or -1.

In [67]:
text = 'Python is a high-level, interpreted programming language'
print(text.find('is'))

7

In [68]:
print(text.find('language'))

48

In [70]:
t ='vsgfifjnghctyt'
print(t.find('g'))

2

In [71]:
print(t.find('z'))

-1

##### 7. str.index(sub[, start[, end]]) and str.rindex()

* index : Returns the lowest index (first occurrence) of the substring sub in the string.

* rindex : returns the highest index of the substring inside the string if the substring is found. 
Otherwise, it raises ValueError.

In [75]:
# Using Index
text = "hello world hello"
print(text.index("hello"))   
print(text.index("hello", 1))

0
12

In [73]:
# Using rindex
print('Python'.rindex('th'))

2

In [76]:
text = "python programming"

try:
    pos = text.rindex("java")
    print("Found at:", pos)
except ValueError:
    print("Substring not found")

Substring not found

##### 8.str.startswith(prefix) and str.endswith(suffix)

* both are built-in string methods used to check whether a string starts or ends with a given substring

In [80]:
s = "Good Morning"
print(s.startswith('Go'))
print(s.endswith('.py'))

True
False

In [81]:
print(''.startswith('a'))     # False for empty string

False

##### 9.str.count(sub[, start[, end]])

* used to count the number of occurrences of a substring within a string.

In [85]:
s = 'Python Programming'
print(s.count('P'))
print(s.count('on'))

2
1

##### 10.str.isalpha(), str.isdigit(), str.isalnum(), str.isspace()

In [91]:
# isalpha()
print('Python'.isalpha())
print('54hi'.isalpha())

True
False

In [92]:
# isdigit()
print('264680'.isdigit())
print('hiiiii'.isdigit())

True
False

In [95]:
# isalnum()
print('123abc'.isalnum())
print('zxcb'.isalnum())
print('123456'.isalnum())

True
True
True

In [100]:
# isspace()
print('abc'.isspace())

False

In [101]:
txt = 'hello world'
print(txt.isspace())

False

In [102]:
txt = " \t\n"
print(txt.isspace())

True

##### 11.str.capitalize(), str.title(), str.swapcase()

In [104]:
#str.capitalize()
s = 'pYthon ProGRAmmINg'
print(s.capitalize())

Python programming

In [105]:
#str.title
s = 'hello world'
print(s.title())

Hello World

In [106]:
x = 'Good morning'
print(x.swapcase())

gOOD MORNING

##### 12.str.format() and f-strings (brief)

* str.format : A method in Python used to insert values into a string using {} placeholders.

In [107]:
name = "Doremon"
age = 10
print("My name is {} and I am {} years old.".format(name, age))

My name is Doremon and I am 10 years old.

* f-strings : make string formatting and interpolation easier.

In [108]:
english = 78
maths = 56
hindi = 85

print(f"John got total marks {english + maths + hindi} out of 300")

John got total marks 219 out of 300

##### 13.str.zfill(width)

In [110]:
print('2'.zfill(5))

00002

In [112]:
print('-5'.zfill(4))

-005

##### 14.str.partition(sep) and str.rpartition(sep)

In [113]:
print('a=b=c'.partition('='))

('a', '=', 'b=c')

In [117]:
text = "apple-orange-banana"

result = text.partition("+")
print(result)

('apple-orange-banana', '', '')

In [118]:
text = "apple-orange-banana"

result = text.rpartition("-")
print(result)

('apple-orange', '-', 'banana')

##### 15.str.center(width, fillchar=' '), str.ljust(), str.rjust()

* str.center(width, fillchar=' ')

In [119]:
text = "Hello"

# Center with spaces
print(text.center(11))         

# Center with custom fill character
print(text.center(11, '*'))   

# Width smaller than string length
print(text.center(3, '-'))

   Hello
***Hello***
Hello

* str.ljust()

In [121]:
text = "Hello"

# Left align with spaces
print(text.ljust(10))         

# Left align with custom fill character
print(text.ljust(10, '-'))     

# Width smaller than string length
print(text.ljust(3, '.'))

Hello
Hello-----
Hello

* str.rjust(width, fillchar=' ')

In [122]:
text = "Hello"

# Right align with spaces
print(text.rjust(10))          

# Right align with custom fill character
print(text.rjust(10, '.'))    

# Width smaller than string length
print(text.rjust(3, '*'))

     Hello
.....Hello
Hello

# Input Method for String

* Basic String Input

In [123]:
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: Sanika
Hello, Sanika

* Numeric Input (conversion needed)

In [124]:
age = input("Enter your age: ")
print(type(age))   

# Convert to integer
age = int(age)
print("Next year you will be", age + 1)

Enter your age: 21
<class 'str'>
Next year you will be 22

* Multiple Inputs

In [125]:
data = input("Enter two words: ")  
word1, word2 = data.split()
print("First:", word1)
print("Second:", word2)

Enter two words: Python Programming
First: Python
Second: Programming

* Custom Separator

In [126]:
data = input("Enter values separated by commas: ")  
items = data.split(",")
print(items)

Enter values separated by commas: 'Apple,Mango,Banana'
["'Apple", 'Mango', "Banana'"]

## Input Method for Integer

* Basic Integer Input

In [127]:
num = int(input("Enter an integer: "))
print("You entered:", num)
print("Type:", type(num))

Enter an integer: 20
You entered: 20
Type: <class 'int'>

* Arithmetic with Integer Input

In [128]:
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print("Sum =", x + y)

Enter first number: 12
Enter second number: 20
Sum = 32

* Handling Multiple Integers

In [131]:
nums = input("Enter numbers separated by space: ")   
nums_list = list(map(int, nums.split()))
print(nums_list)

Enter numbers separated by space: 10 50 600
[10, 50, 600]

* Error Handling (Invalid Input)

In [132]:
try:
    num = int(input("Enter an integer: "))
    print("Square:", num ** 2)
except ValueError:
    print("Oops! That wasn’t a valid integer.")

Enter an integer: 10
Square: 100